@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-padding-x: 1.5rem; /* 24px */
  --gradient-title-margin: 40px;
  --gradient-padding: 120px;
  --section-gap: 24px;
  --section-skew-Y: -12deg;
  --section-angle-sin: 0.212;
  --transform-origin-x: calc(var(--section-gap) * 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Gradient Canvas */
#gradient-canvas {
  width: 100%;
  height: 45%;
  --gradient-color-1: #6ec3f4;
  --gradient-color-2: #3a3aff;
  --gradient-color-3: #ff61ab;
  --gradient-color-4: #E63946;
}

/* Title */
.section-title-1 {
  font-size: 64px;
  font-weight: 700;
  width: 500px;
  max-width: 100vw;
}

@media (min-width: 450px) {
  .section-title-1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .section-title-1 {
    font-size: 90px;
  }
}

@media (min-width: 1024px) {
  .section-title-1 {
    font-size: 100px;
    width: 700px;
    --container-padding-x: 3rem;
  }
}

/* Text layering */
.text {
  line-height: 1;
  margin: var(--gradient-title-margin) 0 0 0;
  letter-spacing: 2px;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start; /* changed from center */
  text-align: left;
}


.text-above {
  color: var(--font-color, #ffffff);
  position: relative;
  z-index: 3;
}

.text-under {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.text-under-blended {
  color: #3a3a3a;
  mix-blend-mode: color-burn;
  z-index: 1;
}

.text-under-overlay {
  opacity: 0.2;
  mix-blend-mode: multiply;
  color: #3a3a3a;
}

/* Subtitle */
.section-title-2.subtitle {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.9;
  line-height: 1.4;
  max-width: 600px;
}
